html,body {
background-color : white; 
font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
}

p,ul,li,td,span {
font-size : 90%; 
color : black; 
background-color : white; 
}

h1 {
font-size : 130%; 
color : navy; 
/*text-align: center;*/
}

h2 {
font-size : 100%; 
color : red;
}

h3 {
font-size : 90%; 
}

table {
/*font-size : 80%; */
border-style:solid; 
border-width:1px; 
border-color:black;
border-collapse: collapse;
width:100%;
}
td,th { 
border-style:solid; 
border-width:1px; 
border-color:black;
/*width:50%;*/
}
th { 
background-color:silver;
width: 20%;
 }

/*th.attribute_name { 
background-color:silver;
width: 20%;
 }*/

/*a:link {color: green; text-decoration:underline;}*/
/*a:visited {color: gray; text-decoration:underline;}*/
/*a:hover {color:red; text-decoration:none;}*/
